footer.m_footer
  .wrapper
    .sitemap-footer
      .column
        ul
          li: a(href="#") Предприятие
          li
            ul
              li: a(href="#") История
              li: a(href="#") Управление
              li: a(href="#") Производство
              li: a(href="#") Партнеры
              li: a(href="#") Система менеджмента качества
              li: a(href="#") Рекомендации
              li: a(href="#") Карьера
              li: a(href="#") Социальная ответственность
              li: a(href="#") Галерея
              li: a(href="#") Открытый завод
      .column
        ul
          li: a(href="#") Продукция
          li
            ul
              li: a(href="#") Металлоконструкции для судостроения и промышленности
              li: a(href="#") Подъемно-подвесные устройства, транспортирующие и грузоподъёмные механизмы
              li: a(href="#") Редукторы и гидроприводы
              li: a(href="#") Палубные устройства, оборудование и механизмы
              li: a(href="#") Дельные вещи, изделия и детали судовых устройств
              li: a(href="#") Изготовление валов
              li: a(href="#") Компенсаторы и уплотнения сильфонные
              li: a(href="#") Металлические гибкие шланги и трубопроводы
              li: a(href="#") Трубопроводная концевая арматура
              li: a(href="#") Арматура и изделия судовой вентиляции и воздуховоды
              li: a(href="#") Трубные доски
              li: a(href="#") Металлическое емкостное оборудование и обечайки
              li: a(href="#") Изготовление корпусов
              li: a(href="#") Амортизирующие элементы
      .column
        ul
          li: a(href="#") Услуги по обработке металла
          li
            ul
              li: a(href="#") Фрезерная обработка
              li: a(href="#") Токарная обработка
              li: a(href="#") Сварочные работы
              li: a(href="#") Термообработка
              li: a(href="#") Шлифовальные работы
              li: a(href="#") Зуборезные работы
              li: a(href="#") Расточные работы
        ul
          li: a(href="#") Новости
          li
            ul
              li: a(href="#") Новости предприятия
      .column
        ul
          li: a(href="#") Центр проектирования
          li
            ul
              li: a(href="#") КБ сильфонной техники и металлорукавов
              li: a(href="#") КБ нестандартных изделий
        ul
          li: a(href="#") Лицензии и сертификаты
          li
            ul
              li: a(href="#") Лицензии
              li: a(href="#") Сертификаты
              li: a(href="#") Отзывы
      .column
        .docs: a(class="button" href="#") Вся документация
    .contacts
      .info(itemscope itemtype="http://schema.org/Organization")
        .copy © ПАО «<span itemprop="name">Металкомп</span>», 2017
        .address(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress") 196210, <span itemprop="addressLocality">Санкт-Петербург</span>, <span itemprop="streetAddress">ул. Название улицы, д. 2, лит. С.</span>
        .phones Телефон: <span itemprop="telephone">8(800) 380-30-30</span>, <span itemprop="telephone">+7 (812) 380-30-30</span>
      .callback
        a(class="call-popup" href="#popup-callback") Форма обратной связи
      .developed Разработка сайта <a target="_blank" href="http://pikmedia.ru/">«Пикмедиа»</a>
      .jump-to-top: button