@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/SegoeUI-Semibold.eot');
  src: url('../fonts/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-Semibold.woff') format('woff'),
    url('../fonts/SegoeUI-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Semilight';
  src: url('../fonts/SegoeUI-SemilightItalic.eot');
  src: url('../fonts/SegoeUI-SemilightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-SemilightItalic.woff') format('woff'),
    url('../fonts/SegoeUI-SemilightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI Semilight';
  src: url('../fonts/SegoeUI-Semilight.eot');
  src: url('../fonts/SegoeUI-Semilight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-Semilight.woff') format('woff'),
    url('../fonts/SegoeUI-Semilight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
