extends ../modules/layout/layout.jade

block title
  title Механосборочное производство

block data
  include ../static/content/_home.jade

block content
  .m_breadcrumbs
    .wrapper
      ul
        li: a(href="#") Главная
        li: a(href="#") Предприятие
        li: a(href="#") Производство
        li: a(href="#") Механосборочное производство
  main
    .main-row.page-section
      section.content
        .page-title-bg(style="background-image: url('images/page-title/5.jpg')")
        .page-title
          h2 Механосборочное производство
      aside.m_sidebar
        .sidebar-menu
          ul
            li: a(href="#") История
            li: a(href="#") Управление
            li: a(class="current" href="#") Производство
            li: a(href="#") Партнеры
            li: a(href="#") Система менеджмента качества
            li: a(href="#") Рекомендации
            li: a(href="#") Вакансии
            li: a(href="#") Социальная ответственность
            li: a(href="#") Галерея
    .main-row.page-content
      section.content
        .lead-paragraph Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Ооднажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
        article
          p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
          p Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось? » – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах.
          p Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку. На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука. Затем взгляд Грегора устремился в окно, и пасмурная погода – слышно было, как по жести подоконника стучат капли дождя – привела его и вовсе в грустное настроение. «Хорошо бы еще немного поспать и забыть всю эту чепуху», – подумал он, но это было совершенно неосуществимо, он привык спать на правом боку, а в теперешнем своем
          .m_article-carousel
            .article-carousel-lead
              .slide: .image(style="background-image: url('images/page-title/1.jpg')")
              .slide: .image(style="background-image: url('images/page-title/2.jpg')")
              .slide: .image(style="background-image: url('images/page-title/3.jpg')")
              .slide: .image(style="background-image: url('images/page-title/4.jpg')")
              .slide: .image(style="background-image: url('images/page-title/5.jpg')")
              .slide: .image(style="background-image: url('images/section-images/1.jpg')")
              .slide: .image(style="background-image: url('images/section-images/2.jpg')")
              .slide: .image(style="background-image: url('images/section-images/3.jpg')")
              .slide: .image(style="background-image: url('images/section-images/4.jpg')")
            .article-carousel-thumbs
              .slide: .image(style="background-image: url('images/page-title/1.jpg')")
              .slide: .image(style="background-image: url('images/page-title/2.jpg')")
              .slide: .image(style="background-image: url('images/page-title/3.jpg')")
              .slide: .image(style="background-image: url('images/page-title/4.jpg')")
              .slide: .image(style="background-image: url('images/page-title/5.jpg')")
              .slide: .image(style="background-image: url('images/section-images/1.jpg')")
              .slide: .image(style="background-image: url('images/section-images/2.jpg')")
              .slide: .image(style="background-image: url('images/section-images/3.jpg')")
              .slide: .image(style="background-image: url('images/section-images/4.jpg')")
          p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
          p Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось? » – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах.
          p Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку. На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука. Затем взгляд Грегора устремился в окно, и пасмурная погода – слышно было, как по жести подоконника стучат капли дождя – привела его и вовсе в грустное настроение. «Хорошо бы еще немного поспать и забыть всю эту чепуху», – подумал он, но это было совершенно неосуществимо, он привык спать на правом боку, а в теперешнем своем
          .m_similar-links
            .item
              a(href="#"): span Фрезерная обработка метала
            .item
              a(href="#"): span Сварочные работы
            .item
              a(href="#"): span Токарная обработка
            .item
              a(href="#"): span Темоообработка
      aside.m_sidebar
        include ../modules/download-items/download-items