extends ../modules/layout/layout.jade

block title
  title Лицензии

block data
  include ../static/content/_home.jade

block content
  .m_breadcrumbs
    .wrapper
      ul
        li: a(href="#") Главная
        li: a(href="#") Лицензии и сертификаты
  main
    .main-row.page-section.single
      section.content.no-sidebar
        .page-title
          h2.small Лицензии и сертификаты
        .main
          .m_licenses
            .tabs-header
              a(class="current" id="l-license" href="#") Лицензии
              a(id="l-sertificate" href="#") Сертификаты
            .tabs-content
              .item.current
                .columns.col-4.c-gallery
                  .column
                    a(href="images/recomendation/1.jpg" title="Название рекомендации")
                      .image
                        img(src="images/recomendation/1.jpg" alt="")
                      .title Свидетельство СРО
                  .column
                    a(href="images/recomendation/2.jpg" title="Название рекомендации")
                      .image
                        img(src="images/recomendation/2.jpg" alt="")
                      .title Декларация о соответствии № РООС RU.ME05.Д00227
                  .column
                    a(href="images/recomendation/3.png" title="Название рекомендации")
                      .image
                        img(src="images/recomendation/3.png" alt="")
                      .title Свидетельство СРО
                  .column
                    a(href="images/recomendation/4.png" title="Название рекомендации")
                      .image
                        img(src="images/recomendation/4.png" alt="")
                      .title Свидетельство СРО
                  .column
                    a(href="images/recomendation/5.png" title="Название рекомендации")
                      .image
                        img(src="images/recomendation/5.png" alt="")
                      .title Свидетельство СРО
                  .column
                    a(href="images/recomendation/6.jpg" title="Название рекомендации")
                      .image
                        img(src="images/recomendation/6.jpg" alt="")
                      .title Декларация о соответствии № РООС RU.ME05.Д00227
                  .column
                    a(href="images/recomendation/6.jpg" title="Название рекомендации")
                      .image
                        img(src="images/recomendation/6.jpg" alt="")
                      .title Декларация о соответствии № РООС RU.ME05.Д00227
                  .column
                    a(href="images/recomendation/6.jpg" title="Название рекомендации")
                      .image
                        img(src="images/recomendation/6.jpg" alt="")
                      .title Декларация о соответствии № РООС RU.ME05.Д00227
              .item
                .columns.col-4.c-gallery
                  .column
                    a(href="images/recomendation/4.png" title="Название рекомендации")
                      .image
                        img(src="images/recomendation/4.png" alt="")
                      .title Название рекомендации
                  .column
                    a(href="images/recomendation/6.jpg" title="Название рекомендации")
                      .image
                        img(src="images/recomendation/6.jpg" alt="")
                      .title Название рекомендации
                  .column
                    a(href="images/recomendation/1.jpg" title="Название рекомендации")
                      .image
                        img(src="images/recomendation/1.jpg" alt="")
                      .title Название рекомендации
                  .column
                    a(href="images/recomendation/2.jpg" title="Название рекомендации")
                      .image
                        img(src="images/recomendation/2.jpg" alt="")
                      .title Название рекомендации
                  .column
                    a(href="images/recomendation/3.png" title="Название рекомендации")
                      .image
                        img(src="images/recomendation/3.png" alt="")
                      .title Название рекомендации
                  .column
                    a(href="images/recomendation/5.png" title="Название рекомендации")
                      .image
                        img(src="images/recomendation/5.png" alt="")
                      .title Название рекомендации