extends ../modules/layout/layout.jade

block title
  title Новости

block data
  include ../static/content/_home.jade

block content
  .m_breadcrumbs
    .wrapper
      ul
        li: a(href="#") Главная
        li: a(href="#") Новости
  main
    .main-row.page-section.single
      section.content.no-sidebar
        .page-title
          h2.small Пресс центр
          .all
            a(class="button" href="#") Новости предприятия
        .main
          .m_news
            .columns.col-4
              .column
                .item
                  .image
                    a(href="#" style="background-image: url('images/page-title/6.jpg')")
                      .category Категория записи
                  .post-date 24 февраля 2016
                  .title: a(href="#") Заголовок новостной записи котроый может быть длиной в несколько строк
              .column
                .item
                  .image
                    a(href="#" style="background-image: url('images/page-title/5.jpg')")
                      .category Категория записи
                  .post-date 24 февраля 2016
                  .title: a(href="#") Заголовок новостной записи котроый может быть длиной в несколько строк
              .column
                .item
                  .image
                    a(href="#" style="background-image: url('images/page-title/4.jpg')")
                      .category Категория записи
                  .post-date 24 февраля 2016
                  .title: a(href="#") Заголовок новостной записи котроый может быть длиной в несколько строк
              .column
                .item
                  .image
                    a(href="#" style="background-image: url('images/page-title/1.jpg')")
                      .category Категория записи
                  .post-date 24 февраля 2016
                  .title: a(href="#") Заголовок новостной записи котроый может быть длиной в несколько строк
              .column
                .item
                  .image
                    a(href="#" style="background-image: url('images/page-title/6.jpg')")
                      .category Категория записи
                  .post-date 24 февраля 2016
                  .title: a(href="#") Заголовок новостной записи котроый может быть длиной в несколько строк
              .column
                .item
                  .image
                    a(href="#" style="background-image: url('images/page-title/5.jpg')")
                      .category Категория записи
                  .post-date 24 февраля 2016
                  .title: a(href="#") Заголовок новостной записи котроый может быть длиной в несколько строк
              .column
                .item
                  .image
                    a(href="#" style="background-image: url('images/page-title/4.jpg')")
                      .category Категория записи
                  .post-date 24 февраля 2016
                  .title: a(href="#") Заголовок новостной записи котроый может быть длиной в несколько строк
              .column
                .item
                  .image
                    a(href="#" style="background-image: url('images/page-title/1.jpg')")
                      .category Категория записи
                  .post-date 24 февраля 2016
                  .title: a(href="#") Заголовок новостной записи котроый может быть длиной в несколько строк
              .column
                .item
                  .image
                    a(href="#" style="background-image: url('images/page-title/2.jpg')")
                      .category Категория записи
                  .post-date 24 февраля 2016
                  .title: a(href="#") Заголовок новостной записи котроый может быть длиной в несколько строк
              .column
                .item
                  .image
                    a(href="#" style="background-image: url('images/page-title/7.jpg')")
                      .category Категория записи
                  .post-date 24 февраля 2016
                  .title: a(href="#") Заголовок новостной записи котроый может быть длиной в несколько строк
              .column
                .item
                  .image
                    a(href="#" style="background-image: url('images/page-title/5.jpg')")
                      .category Категория записи
                  .post-date 24 февраля 2016
                  .title: a(href="#") Заголовок новостной записи котроый может быть длиной в несколько строк
              .column
                .item
                  .image
                    a(href="#" style="background-image: url('images/page-title/8.jpg')")
                      .category Категория записи
                  .post-date 24 февраля 2016
                  .title: a(href="#") Заголовок новостной записи котроый может быть длиной в несколько строк