extends ../modules/layout/layout.jade

block title
  title Продукция

block data
  include ../static/content/_home.jade

block content
  .m_breadcrumbs
    .wrapper
      ul
        li: a(href="#") Главная
        li: a(href="#") Продукция
  main
    .main-row.page-section.single
      aside.m_sidebar
        .sidebar-menu
          ul
            li
              a(class="submenu" href="#") Металлоконструкции для судостроения и промышленности
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Редукторы и гидроприводы
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Палубные устройства, оборудование и механизмы
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Дельные вещи, изделия и детали судовых устройств
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Компенсаторы и уплотнения сильфонные
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Редукторы и гидроприводы
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Палубные устройства, оборудование и механизмы
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Дельные вещи, изделия и детали судовых устройств
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Компенсаторы и уплотнения сильфонные
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
      section.content
        .page-title
          h2 Продукция
        .main
          .m_products
            .columns.col-3
              .column
                .image: a(href="#" style="background-image: url('images/prods/1.jpg')")
                .title: a(href="#") Металлоконструкции для судостроения и промышленности
              .column
                .image: a(href="#" style="background-image: url('images/prods/2.jpg')")
                .title: a(href="#") Компенсаторы и уплотнения сильфонные
              .column
                .image: a(href="#" style="background-image: url('images/prods/3.jpg')")
                .title: a(href="#") Палубные устройства, оборудование и механизмы
              .column
                .image: a(href="#" style="background-image: url('images/prods/4.jpg')")
                .title: a(href="#") Металлоконструкции для судостроения и промышленности
              .column
                .image: a(href="#" style="background-image: url('images/prods/5.jpg')")
                .title: a(href="#") Компенсаторы и уплотнения сильфонные
              .column
                .image: a(href="#" style="background-image: url('images/prods/6.jpg')")
                .title: a(href="#") Палубные устройства, оборудование и механизмы
              .column
                .image: a(href="#" style="background-image: url('images/prods/1.jpg')")
                .title: a(href="#") Металлоконструкции для судостроения и промышленности
              .column
                .image: a(href="#" style="background-image: url('images/prods/2.jpg')")
                .title: a(href="#") Компенсаторы и уплотнения сильфонные
              .column
                .image: a(href="#" style="background-image: url('images/prods/3.jpg')")
                .title: a(href="#") Палубные устройства, оборудование и механизмы
              .column
                .image: a(href="#" style="background-image: url('images/prods/4.jpg')")
                .title: a(href="#") Металлоконструкции для судостроения и промышленности
              .column
                .image: a(href="#" style="background-image: url('images/prods/5.jpg')")
                .title: a(href="#") Компенсаторы и уплотнения сильфонные
              .column
                .image: a(href="#" style="background-image: url('images/prods/6.jpg')")
                .title: a(href="#") Палубные устройства, оборудование и механизмы
              .column
                .image: a(href="#" style="background-image: url('images/prods/6.jpg')")
                .title: a(href="#") Палубные устройства, оборудование и механизмы
              .column
                .image: a(href="#" style="background-image: url('images/prods/1.jpg')")
                .title: a(href="#") Металлоконструкции для судостроения и промышленности
              .column
                .image: a(href="#" style="background-image: url('images/prods/2.jpg')")
                .title: a(href="#") Компенсаторы и уплотнения сильфонные
