extends ../modules/layout/layout.jade

block title
  title Металлоконструкции для судостроения и промышленности

block data
  include ../static/content/_home.jade

block content
  .m_breadcrumbs
    .wrapper
      ul
        li: a(href="#") Главная
        li: a(href="#") Продукция
        li: a(href="#") Металлоконструкции для судостроения и промышленности
  main
    .main-row.page-section.single
      aside.m_sidebar
        .sidebar-menu
          ul
            li
              a(class="submenu" href="#") Металлоконструкции для судостроения и промышленности
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Редукторы и гидроприводы
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Палубные устройства, оборудование и механизмы
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Дельные вещи, изделия и детали судовых устройств
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Компенсаторы и уплотнения сильфонные
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Редукторы и гидроприводы
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Палубные устройства, оборудование и механизмы
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Дельные вещи, изделия и детали судовых устройств
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Компенсаторы и уплотнения сильфонные
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
      section.content
        .page-title
          h2.small Металлоконструкции для судостроения и промышленности
        .main
          .m_products
            .columns.col-3
              .column
                .image: a(href="#" style="background-image: url('images/prods/1.jpg')")
                .title: a(href="#") Трапы
              .column
                .image: a(href="#" style="background-image: url('images/prods/2.jpg')")
                .title: a(href="#") Судовые сходни
              .column
                .image: a(href="#" style="background-image: url('images/prods/2.jpg')")
                .title: a(href="#") Элеваторы
              .column
                .image: a(href="#" style="background-image: url('images/prods/1.jpg')")
                .title: a(href="#") Трапы
              .column
                .image: a(href="#" style="background-image: url('images/prods/2.jpg')")
                .title: a(href="#") Судовые сходни
              .column
                .image: a(href="#" style="background-image: url('images/prods/2.jpg')")
                .title: a(href="#") Элеваторы
              .column
                .image: a(href="#" style="background-image: url('images/prods/1.jpg')")
                .title: a(href="#") Элеваторы
              .column
                .image: a(href="#" style="background-image: url('images/prods/2.jpg')")
                .title: a(href="#") Трапы
              .column
                .image: a(href="#" style="background-image: url('images/prods/1.jpg')")
                .title: a(href="#") Судовые сходни

