extends ../modules/layout/layout.jade

block title
  title Элементы надстройки корабля

block data
  include ../static/content/_home.jade

block content
  .m_breadcrumbs
    .wrapper
      ul
        li: a(href="#") Главная
        li: a(href="#") Продукция
        li: a(href="#") Металлоконструкции для судостроения и промышленности
        li: a(href="#") Элементы надстройки корабля
  main
    .main-row.page-section.single
      aside.m_sidebar
        .sidebar-menu
          ul
            li
              a(class="submenu" href="#") Металлоконструкции для судостроения и промышленности
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Редукторы и гидроприводы
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Палубные устройства, оборудование и механизмы
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Дельные вещи, изделия и детали судовых устройств
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Компенсаторы и уплотнения сильфонные
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Редукторы и гидроприводы
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Палубные устройства, оборудование и механизмы
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Дельные вещи, изделия и детали судовых устройств
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
            li
              a(class="submenu" href="#") Компенсаторы и уплотнения сильфонные
              ul
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
                li: a(href="#") Подкатегория
      section.content
        .page-title
          h2 Элементы надстройки корабля
        .lead-image
          img(src="images/product-cart.jpg" alt="")
        .main
          .lead-paragraph Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
          article
            p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
            p Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось? » – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах.
            p Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку. На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука. Затем взгляд Грегора устремился в окно, и пасмурная погода – слышно было, как по жести подоконника стучат капли дождя – привела его и вовсе в грустное настроение. «Хорошо бы еще немного поспать и забыть всю эту чепуху», – подумал он, но это было совершенно неосуществимо, он привык спать на правом боку, а в теперешнем своем
            .m_download-items-list
              .columns.col-3
                .column
                  .item.pdf
                    a(href="#")
                      .filename
                        span Название документа
                        .download Скачать
                .column
                  .item.pdf
                    a(href="#")
                      .filename
                        span Название документа
                        .download Скачать
                .column
                  .item.doc
                    a(href="#")
                      .filename
                        span Название документа
                        .download Скачать
                .column
                  .item.pdf
                    a(href="#")
                      .filename
                        span Название документа
                        .download Скачать
                .column
                  .item.pdf
                    a(href="#")
                      .filename
                        span Название документа
                        .download Скачать
                .column
                  .item.doc
                    a(href="#")
                      .filename
                        span Название документа
                        .download Скачать
            include ../modules/hook/m_hook
            p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
            p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
            p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
            p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
            p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
            p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
            include ../modules/hook/m_hook
