extends ../modules/layout/layout.jade

block title
  title Помощник специалиста по охране труда

block data
  include ../static/content/_home.jade

block content
  .m_breadcrumbs
    .wrapper
      ul
        li: a(href="#") Главная
        li: a(href="#") Предприятие
        li: a(href="#") Вакансии
        li: a(href="#") Помощник специалиста по охране труда
  main
    .main-row.page-section
      section.content
        .page-title-bg(style="background-image: url('images/page-title/9.jpg')")
        .page-title.full
          h2 Помощник специалиста по охране труда
          .vacancies-info
            .salary
              .label Уровень зарплаты:
              .value до 100 000 руб.
            .experience
              .label Требуемый опыт работы:
              .value 1-3 года
      aside.m_sidebar
        .sidebar-menu
          ul
            li: a(href="#") История
            li: a(href="#") Управление
            li: a(href="#") Производство
            li: a(href="#") Партнеры
            li: a(href="#") Система менеджмента качества
            li: a(href="#") Рекомендации
            li: a(class="current" href="#") Вакансии
            li: a(href="#") Социальная ответственность
            li: a(href="#") Галерея
    .main-row.page-content
      section.content.full
        article
          .lead-paragraph
            p Компания может быть успешна ровно настолько, насколько успешны и профессиональны ее сотрудники. Благодаря нашим менеджерам по продажам компания «Кемилайн Групп» заняла ведущие позиции на рынке профессиональной эксплуатационной химии.
            p Мы открываем новый проект и на конкурсной основе проводим отбор и обучение кандидатов на должность "Менеджер по работе с корпоративными клиентами". <br>Желающих поработать в компании 2-3 года просьба не беспокоится.
          .requires
            h3 Требования:
            ul
              li Наличие водительских прав и личного автомобиля
              li Высшее образование (техническое приветствуется)
              li Опыт ведения переговоров с руководителями предприятий (желателен)
              li Опыт продаж на крупные промышленные предприятия (желателен)
              li Умение добиваться результата (мы оцениваем объём ваших личных продаж)
              li Самостоятельность (мы хотим работать с теми, кого не нужно контролировать)
              li В обязанности менеджера по работе с корпоративными клиентами входит:
              li Поиск новых клиентов, развитие и поддержание клиентской базы
              li Проведение презентаций продукции, переговоров и заключение договоров с промышленными предприятиями
              li Сопровождение заказов (помощь в выборе продукции, технические консультации, контроль оплат и отгрузок)
          .terms
            h3 Условия:
            ul
              li Возможность неограниченного заработка: на испытательный срок оклад 35000+ % с оборота (доход среднего Менеджера по работе с клиентами в месяц 50000-70000 руб. лучших - 150000-300000 руб.)
              li Профессиональное обучение технологии продаж и личный наставник на весь период адаптации
              li Профессиональный и карьерный рост
              li Оформление по ТК (гарантированный соц.пакет + ДМС + корпоративная пенсионная программа)
          .additional
            h3 А также:
            ul
              li Большую самостоятельность в планировании своей работы
              li Отсутствие необходимости ежедневного прибытия в офис и массу других приятных «бонусов», которые сделают вашу работу комфортной и эффективной
      aside.m_sidebar.full
        .vac-form
          .popup-title
            .title Откликнуться на вакансию
          form
            .form-row
              input(type="text" placeholder="Представьтесь, пожалуйста")
            .form-row
              input(class="mask-tel" type="tel" placeholder="Ваш телефон")
            .form-row
              input(type="email" placeholder="E-mail")
            .form-row
              .attach
                label
                  input(type="file")
                  span.label Загрузить файл <i>(размер файла не должен превышать 2 Mb)</i>
                  span.icon
                .attach-result
                  .filename
                  button(type="button").remove
            .form-row
              textarea(placeholder="Текст сообщения")
            .remark Все поля обязательны для заполнения
            .form-row
              .checkbox
                label
                  input(type="checkbox" name="agree" checked)
                  span.icon
                  span.text Даю согласие на обработку персональных данных
              .politicy: a(target="_blank" href="politicy.pdf") Политика АО «Металкомп» в отношении обработки персональных данных
            .form-row
              button(type="submit") Откликнуться