.m_sidebar
  position relative
  padding 15px
  @media LG
    padding 30px
  &.full
    padding 0
  .sidebar-menu
    position relative
    z-index 10
    li
      @media MD
        margin 10px 0
      @media LG
        margin 15px 0
      ul
        display none
        padding-bottom 20px
        li
          @media MD
            margin 5px 0
          @media LG
            margin 10px 0
          a
            padding-top 2px
            padding-bottom 2px
            &:after
              display none
    a
      position relative
      display inline-block
      vertical-align middle
      color #fff
      font-size 16px
      padding-left 25px
      padding-top 5px
      padding-bottom 5px
      &:after
        content ''
        background: url('../images/sprite.png') no-repeat -300px -89px;
        width: 16px;
        height: 8px;
        position absolute
        left 0
        top 12px
      &:hover,
      &.current
        color $base
      &.submenu.current + ul
        display block
  .vac-form
    background #ebecec
    padding 15px
    @media SM
      padding 30px
    @media LG
      padding 30px
    .popup-title
      margin-bottom 20px
      .title
        light()
        font-size 23px
        margin-bottom 20px
    form
      @media SM
        max-width 50%
      @media LG
        max-width 100%
      .form-row
        & + .form-row
          margin-top 15px
      // Placeholder
      placeholder()
        color #666
      ::-webkit-input-placeholder,textarea::-webkit-input-placeholder
        placeholder()
      ::-moz-placeholder,textarea::-moz-placeholder
        placeholder()
      :-ms-input-placeholder,textarea:-ms-input-placeholder
        placeholder()
      input:-moz-placeholder,textareainput:-moz-placeholder
        placeholder()
      input, textarea
        light()
        width 100%
        background #fff
        border 1px solid #e3e3e3
        font-size 16px
        padding-left 15px
        padding-right 15px
        color #000
        &:focus
          background #fff
          color #333
      input
        height 60px
      textarea
        min-height 150px
        padding-top 10px
        padding-bottom 10px
      button[type=submit]
        light()
        background $base
        color #fff
        border none
        width 100%
        height 60px
        line-height 60px
        font-size 20px
        border 1px solid $base
        &:hover
          color $base
          background none
      .remark
        padding 15px 0 20px
        font-size 16px
        font-style italic
        font-size 14px
      .politicy
        padding-left 50px
        margin-top 10px
        margin-bottom 25px
        line-height 0.9
        a
          anim()
          color #000
          font-size 13px
          display inline
          vertical-align middle
          border-bottom 1px solid rgba(0,0,0,.2)
          &:hover
            border-color transparent
      .checkbox
        label
          sn()
          position relative
          display inline-block
          vertical-align middle
          padding-left 50px
          cursor pointer
          font-size 16px
          input
            position absolute
            left -9999px
            opacity 0
          .icon
            display inline-block
            vertical-align middle
            background: url('../images/sprite.png') no-repeat -360px -540px;
            width: 42px;
            height: 38px;
            position absolute
            left 0
            top 50%
            margin-top -19px
          .text
            display inline
            vertical-align middle
            position relative
            top -5px
            font-size 16px
            anim()
            border-bottom 1px solid rgba(0,0,0,.2)
            &:hover
              border-color transparent
          input:checked + .icon
            background-position -300px -540px
      .attach
        input
          position absolute
          left -9999px
          font-size 0
          opacity 0
        label
          display block
          height 60px
          width 100%
          background #fff
          border 1px solid #e3e3e3
          font-size 16px
          padding-left 15px
          padding-right 15px
          color #666
          position relative
          cursor pointer
          @media XS
            line-height 1
          &:hover
            .icon
              background $base
            .icon:after
              background-position -300px 0
          .label
            line-height 58px
            padding-top 0
            display inline-block
            vertical-align middle
            @media XS
              line-height 1
              padding-top 10px
            @media LG
              padding-top 5px
            i
              display block
              font-size 12px
              margin-top 5px
              display none
              @media XS
                display block
              @media LG
                padding-right 50px
          .icon
            position absolute
            right 0
            top -1px
            height 60px
            width 60px
            border-left 1px solid #e3e3e3
            &:after
              content ''
              background: url('../images/sprite.png') no-repeat -240px 0;
              width: 21px;
              height: 23px;
              position absolute
              left 50%
              top 50%
              margin-left -(@width/2)
              margin-top -(@height/2)
        .attach-result
          display inline-block
          vertical-align middle
          padding-right 25px
          position relative
          line-height 17px
          padding-top 10px
          padding-bottom 10px
          display none
          .filename
            font-size 16px
            color #333
            display inline-block
            vertical-align middle
            line-height 17px
          .remove
            background: url('../images/sprite.png') no-repeat -60px 0;
            width: 18px;
            height: 17px;
            border none
            position absolute
            right 0
            top 50%
            margin-top -6px
            cursor pointer
  .similar-news
    position relative
    z-index 10
    .title
      font-size 24px
      margin-bottom 20px
    .item
      position relative
      margin-bottom 25px
      .post-date
        padding 7px 0 5px
        color #666666
        font-size 16px
      .title
        margin-bottom 20px
        a
          display inline-block
          vertical-align middle
          text-decoration underline
          color #000
          font-size 16px
          line-height 1.2
          &:hover
            text-decoration none
      .image
        position relative
        height 160px
        a
          display block
          width 100%
          height 100%
          background-repeat no-repeat
          background-position 50%
          background-size cover
          &:hover
            &:after
              opacity .7
          &:after
            anim()
            content ''
            position absolute
            left 0
            top 0
            width 100%
            height 100%
            background #000
            opacity 0
          .category
            anim()
            position absolute
            left 0
            bottom 0
            width 100%
            background rgba(0,0,0,.5)
            color #c9c9c9
            padding 5px 10px
            z-index 1
            &:hover
              color #fff
  .hook
    position relative
    z-index 10
    .text
      font-size 24px
      margin-bottom 20px
    .details
      text-align center
      .action
        a
          anim()
          background $base
          color #fff
          text-decoration none
          font-size 18px
          display block
          width 100%
          text-align center
          padding 20px 30px
          border-radius $radius
          &:hover
            background $base - 10%
      .contact
        padding-top 10px
        @media MD
          padding-top 15px
        @media LG
          display inline-block
          vertical-align middle
          text-align center
          padding-top 10px
        span
          font-size 13px
        .tel
          a
            bold()
            text-decoration none
            font-size 24px
            color #000
