.popup-window
  background #35342f
  color #fff
  padding 20px
  max-width 570px
  margin 6px auto
  @media SM
    padding 50px 70px
  .mfp-close
    background: url('../images/sprite.png') no-repeat -60px 0;
    width: 18px;
    height: 17px;
    font-size 0
    text-indent -9999px
    right 10px
    top 10px
    opacity 1
  .popup-title
    margin-bottom 20px
    .title
      light()
      font-size 30px
      margin-bottom 20px
      @media SM
        font-size 40px
    p
      font-size 18px
      margin-bottom 0
      @media XS
        font-size 20px
      @media SM
        font-size 24px
  form
    .form-row
      & + .form-row
        margin-top 15px
    input, textarea
      light()
      width 100%
      background none
      border 1px solid $base
      font-size 16px
      padding-left 15px
      padding-right 15px
      color #fff
      &:focus
        background $base
        color #35342f
    input
      height 60px
    textarea
      min-height 150px
      padding-top 10px
      padding-bottom 10px
    button[type=submit]
      light()
      background $base
      color #fff
      border none
      width 100%
      height 60px
      line-height 60px
      font-size 20px
      border 1px solid $base
      &:hover
        color $base
        background none
    .checkbox
      label
        sn()
        position relative
        display inline-block
        vertical-align middle
        padding-left 50px
        cursor pointer
        input
          position absolute
          left -9999px
          opacity 0
        .icon
          display inline-block
          vertical-align middle
          background: url('../images/sprite.png') no-repeat -360px -540px;
          width: 42px;
          height: 38px;
          position absolute
          left 0
          top 50%
          margin-top -19px
        .text
          display inline
          vertical-align middle
          font-size 16px
          position relative
          top -5px
          anim()
          border-bottom 1px solid rgba(255,255,255,.2)
          &:hover
            border-color transparent
        input:checked + .icon
          background-position -300px -540px
    .attach
      input
        position absolute
        left -9999px
        font-size 0
        opacity 0
      label
        display block
        height 60px
        // line-height 58px
        width 100%
        border 1px solid $base
        font-size 16px
        padding-left 15px
        padding-right 15px
        color #fff
        position relative
        cursor pointer
        &:hover
          .icon
            background $base
          .icon:after
            background-position -300px 0
        .label
            line-height 58px
            padding-top 0
            display inline-block
            vertical-align middle
            @media XS
              line-height 1
              padding-top 10px
            i
              display block
              font-size 12px
              margin-top 5px
              display none
              @media XS
                display block
        .icon
          position absolute
          right 0
          top -1px
          height 60px
          width 60px
          border-left 1px solid $base
          &:after
            content ''
            background: url('../images/sprite.png') no-repeat -240px 0;
            width: 21px;
            height: 23px;
            position absolute
            left 50%
            top 50%
            margin-left -(@width/2)
            margin-top -(@height/2)
      .attach-result
        display inline-block
        vertical-align middle
        padding-right 25px
        position relative
        line-height 17px
        padding-top 10px
        padding-bottom 10px
        display none
        .filename
          font-size 16px
          color #fff
          display inline-block
          vertical-align middle
          line-height 17px
        .remove
          background: url('../images/sprite.png') no-repeat -60px 0;
          width: 18px;
          height: 17px;
          border none
          position absolute
          right 0
          top 50%
          margin-top -6px
          cursor pointer
    .remark
      padding 15px 0 20px
      font-size 16px
      font-style italic
      font-size 14px
    .politicy
      padding-left 50px
      margin-top 10px
      margin-bottom 25px
      line-height 0.9
      a
        anim()
        color #fff
        font-size 13px
        display inline
        vertical-align middle
        border-bottom 1px solid rgba(255,255,255,.2)
        &:hover
          border-color transparent
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close
  background: url('../images/sprite.png') no-repeat -60px 0;
  width: 18px;
  height: 17px;
  font-size 0
  text-indent -9999px
  right 0px
  top -25px
  opacity 1
.mfp-image-holder .mfp-close
  top 15px

.index .mfp-wrap .mfp-container
  overflow auto !important