header.m_header
  .wrapper
    .logo
      a(href="#")
        img(src="images/logo.png" alt="")
    .mobile-menu: .mobile-menu-trigger: span
    .menu
      .row
        .sitemap: a(href="#") Весь сайт
        .global-search: a(href="#")
        .lang
          .current RU
          ul
            li: a(href="#") EN
      .row
        nav
          ul
            li: a(href="#") Предприятие
            li: a(href="#") Продукция
            li: a(href="#") Услуги
            li: a(href="#") Лицензии и сертификаты
            li: a(href="#") Новости
            li: a(href="#") Документы
            li: a(href="#") Контакты
    .modal-menu
      .scrolled
        .search
          form
            label(for="global-search") Поиск
            input(id="global-search" type="text" placeholder="")
            button(type="submit")
        .all-navs
          .row
            .column.col-3
              .title Предприятие
              ul
                li: a(href="#") История
                li: a(href="#") Управление
                li: a(href="#") Производство
                li: a(href="#") Партнеры
                li: a(href="#") Система менеджмента качества
                li: a(href="#") Рекомендации
                li: a(href="#") Вакансии
                li: a(href="#") Социальная ответственность
                li: a(href="#") Галерея
            .column.col-3
              .title Услуги по обработке металла
              ul
                li: a(href="#") Фрезерная обработка
                li: a(href="#") Токарная обработка
                li: a(href="#") Сварочные работы
                li: a(href="#") Термообработка
                li: a(href="#") Шлифовальные работы
                li: a(href="#") Зуборезные работы
                li: a(href="#") Расточные работы
            .column.col-3
              .title Центр проектирования
              ul
                li: a(href="#") КБ сильфонной техники и металлорукавов
                li: a(href="#") КБ нестандартных изделий
          .row
            .title.full Продукция
            .row
              .column.col-2
                ul
                  li: a(href="#") Металлоконструкции для судостроения и промышленности
                  li: a(href="#") Подъемно-подвесные устройства, транспортирующие и грузоподъёмные механизмы
                  li: a(href="#") Редукторы и гидроприводы
                  li: a(href="#") Палубные устройства, оборудование и механизмы
                  li: a(href="#") Дельные вещи, изделия и детали судовых устройств
                  li: a(href="#") Изготовление валов
                  li: a(href="#") Компенсаторы и уплотнения сильфонные
              .column.col-2
                ul
                  li: a(href="#") Металлические гибкие шланги и трубопроводы
                  li: a(href="#") Трубопроводная концевая арматура
                  li: a(href="#") Арматура и изделия судовой вентиляции и воздуховоды
                  li: a(href="#") Трубные доски
                  li: a(href="#") Металлическое емкостное оборудование и обечайки
                  li: a(href="#") Изготовление корпусов
                  li: a(href="#") Амортизирующие элементы
          .row
            .column.col-3
              .title Новости
              ul
                li: a(href="#") Новости предприятия
            .column.col-3
              .title Документы
              ul
                li: a(href="#") Каталоги продукции
                li: a(href="#") Опросные листы на заказ продукции
                li: a(href="#") Опросные листы на обработку металла
                li: a(href="#") Типовое договор
            .column.col-3
              .title Лицензии и сертификаты
              ul
                li: a(href="#") Лицензии
                li: a(href="#") Сертификаты
                li: a(href="#") Отзывы