.m_benefits
  .title Наши преимущества
  .list
    .item
      .icon: img(src="images/benefits/1.png" alt="")
      .text Качественная <br>продукция
    .item
      .icon: img(src="images/benefits/2.png" alt="")
      .text Опытные <br>специалисты
    .item
      .icon: img(src="images/benefits/2.png" alt="")
      .text Опытные <br>специалисты
    .item
      .icon: img(src="images/benefits/1.png" alt="")
      .text Качественная <br>продукция
    .item
      .icon: img(src="images/benefits/1.png" alt="")
      .text Качественная <br>продукция
    .item
      .icon: img(src="images/benefits/2.png" alt="")
      .text Опытные <br>специалисты